[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "prettyglm"]
	path = prettyglm
	url = https://github.com/jared-fowler/prettyglm
